
  <div class="col-xl-5 col-lg-5 col-md-6 col-sm-10 col-10 introduction">
    <h2>About Us</h2>
    <p>
        We came up with Simply Unused because we were all kind of tired of having to worry about what's in the fridge every time we had to think of dinner or lunch,
        and specially during days of working from home during a pandemic, we'd rather focus on fun things like binge watching or walking our dogs. Imagine a stress free grocery world, where you never
        ever have to worry about losing out on supplies nor have to waste your dollars rebuying milk that went bad without you realising it. Voila! Simply Unused to solve your daily
        food nags personalized to your laziness.
    </p>
</div>