
  <div class="col-sm-5 introduction">
    <h2>About Us</h2>
    <p>
        It is time to utilize our technological advances and stop having to worry about such trivial information such as food expiration dates!
    </p>
</div>