            <div class="col-sm-12 row goals">
              <div class="col-sm-3 card goals-card" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title">Reduce Fine Lines</h4>
                  <p class="card-text">It is time to utilize our technological advances and stop having to worry about 
                    such trivial information such as food expiration dates. With Simply Unused the user can input their 
                    groceries into their own personal account. 
                  </p> 
                </div>
                <img src="images/cheese.jpg" alt="...">
              </div>
    
              <div class="col-sm-3 card goals-card" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title">Save The Date</h4>
                  <p class="card-text">The information stored will be that of the quantity, expiration date, and a photo of the food product.  
                    Upon adding their items this information is then saved into the “pantry” where items can be organized by name, 
                    quantity, or expiration date. 
                  </p>
                </div>
                <img src="/images/pasta.jpg" alt="...">
              </div>
    
              <div class="col-sm-3 card goals-card" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title">DM</h4>
                  <p class="card-text">As an addition to storing this information this website will alert the user 
                    by discoloring the food card and prioritizing it in the pantry. This will also help reduce wastes that comes from 
                    unused groceries decreasing carbon footprint.
                  </p>
                </div>
                <img src="/images/green.jpg" alt="...">
              </div>
            </div>