
            <div class="row g-0 product-card">
                <img src="./images/apple.png" class="col-sm-3 product-image"/>
                
                <div class="col-sm-8 p-card" data-id="{{ id }}">
                    <div class="card-body row">
                        <h4 class="col-sm-12 product-name">{{ name }} <span><i class='fa fa-circle'></i></span></h4>
                        <div class="col-sm-12 date row">
                            <p class="col-sm-11">Expire Date: </p>
                            <p>{{ expiration_date }}</p>
                        </div>

                        <div class="col-sm-12 quantity row">
                            <p class="col-sm-7">Quantity: </p>
                            <div class="col-sm-4">
                                <!-- should add quantity to the value -->
                                <input type="number" value="{{ quantity }}" class="quantity-nu" min="0" max="100" step="1" class="amount" />
                            </div>
                        </div>

                        <div class="col-sm-12 update">
                            <button type="submit" class="btn" class='update'>Update</button>
                            <button type="submit" class="btn" class="remove">Remove</button>
                        </div>

                    </div>
                </div>
            </div>
