 
        <!-- this form is dashboard handler-->
        <section >
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 history">
                    <button type="clear" class="btn" id="clear">Clear History</button>
                              
                    <ul class="list">
                    <!-- searched history -->
                    </ul>  
                </div> 

                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 storage">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row options"> 
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-6">
                            <h4 id="sort-by-exp"><i class='fa fa-calendar'></i><a id="order-exp" class="sort-item"> Order By Expiration Date</a></h4>
                            
                        </div>    
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <h4 id="sort-by-category"><i class='fa fa-sitemap'></i><a href="/dashboard/orderBy/category" class="sort-item"> Order By Categories</a></h4>
                        </div>
                        
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-6">
                            <h4 id="sort-by-name"><i class='fa fa-lemon-o'></i><a href="/dashboard/orderBy/name" class="sort-item"> Order By Product Name</a></h4>
                        </div>
                        
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <h4 id="sort-by-quantity"><i class='fa fa-sort-numeric-asc'></i><a id="order-q" class="sort-item"> Order By Quantity</a></h4>
                        </div>    
                    </div>

                      <!-- Search products -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 search-bar">
                        <div class="row" id="search-product">
                            <input type="text" class="col-7 bar" placeholder="Enter A Product's Name" id="p-name" />
                            <button type="submit" class="btn col-1 search"><i class='fa fa-search'></i></button>
                            <div class="col-4 showall">
                                <button id="showall" class="btn">Show All</button> 
                            </div> 
                            
                        </div>
                    </div>
                  
                        <!-- Add produts -->
                        
                        <form class="inventory row">
                            {{#each products as |product|}}
                                <div class="card sm-3 items" style="max-width: 360px;">
                                    
                                    {{> product-info product}}
                                    
                                </div>
                            {{/each}}
                        </form>

                </div>  
            </div>
        </section>


    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="/javascript/dashboard.js"></script>
</body>

</html>
