

    
        <!-- this form is dashboard handler-->
        <section >
            <div class="row">
                <div class="col-sm-2 history">
                    <button type="clear" class="btn">Clear History</button>
                              
                    <ul class="list">
                    <!-- searched history -->
                      <li>apple</li>
                      <li>apple</li>
                      <li>apple</li>
                      <li>apple</li>
                    </ul>  
                </div> 

                <div class="col-sm-10 storage">
                    <div class="col-sm-12 row options"> 
                        <div class="col-sm-5">
                            <h4><i class='fa fa-calendar'></i> Order By Expiration Date</h4>
                        </div>    
                        <div class="col-sm-5">
                            <h4><i class='fa fa-sitemap'></i> Order By Categories</h4>
                        </div>
                        
                        <div class="col-sm-5">
                            <h4><i class='fa fa-lemon-o'></i> Order By Product Name</h4>
                        </div>
                        
                        <div class="col-sm-5">
                            <h4><i class='fa fa-sort-numeric-asc'></i> Order By Quantity</h4>
                        </div>    
                    </div>

                      <!-- Search products -->
                    <div class="col-sm-12 search-bar">
                        <form class="row">
                            <input type="text" class="col-sm-9 bar" placeholder="Enter A Product's Name" />
                            <button type="search" class="btn col-sm-2"><i class='fa fa-search'></i></button> 
                        </form>
                    </div>
                  
                        <!-- Add produts -->
                        
                        <form class="inventory row">
                            {{#each products as |product|}}
                                <div class="card sm-3 items" style="max-width: 400px;">
                                    
                                    {{> product-info product}}
                                    
                                </div>
                            {{/each}}
                        </form>

                </div>  
            </div>
        </section>


    <footer></footer>

</body>

</html>