<!-- this form is homepage handler-->
    <section class="row category">

        <div class="col-sm-3">
            <div class="accordion" id="accordionExample">

                <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/dairy.png" class="animate-category col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-clicked="false" data-target="#Dairy" aria-expanded="false" aria-controls="collapseTwo">
                        Dairy
                        </button>         
                    </div>
                    <div id="Dairy" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="dairy-list" class="">
                                <li>
                                    Cheese
                                </li>
                                <li>
                                    Milk
                                </li>
                                <li>
                                    Cream
                                </li>
                                <li>
                                    Yogurt
                                </li>
                                <li>
                                    Butter
                                </li> 
                                <li>
                                    Icecream
                                </li> 
                                <li>
                                    Whey
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>

                 <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/grains.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Grains" aria-expanded="false" aria-controls="collapseTwo">
                        Grains
                        </button>  
                    </div>
                    <div id="Grains" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="grains-list" class="">
                                <li>
                                    Rice
                                </li>
                                <li>
                                    Corn
                                </li>
                                <li>
                                    Barley
                                </li>
                                <li>
                                    Oats
                                </li>
                                <li>
                                    Buckwheat
                                </li> 
                                <li>
                                    Millet
                                </li> 
                                <li>
                                    Wheat
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>

                 <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/vegetables.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Vegetables" aria-expanded="false" aria-controls="collapseTwo">
                        Vegetables
                        </button> 
                    </div>
                    <div id="Vegetables" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="vegetables-list" class="">
                                <li>
                                    Leafy Green
                                </li>
                                <li>
                                    Cruciferous
                                </li>
                                <li>
                                    Marrow
                                </li>
                                <li>
                                    Root
                                </li>
                                <li>
                                    Allium
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/fruits.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Fruits" aria-expanded="false" aria-controls="collapseTwo">
                        Fruits
                        </button>   
                     
                    </div>
                    <div id="Fruits" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="fruits-list" class="">
                                <li>
                                    Apples
                                </li>
                                <li>
                                    Pears
                                </li>
                                <li>
                                    Citrus
                                </li>
                                <li>
                                    Tropical Fruits
                                </li>
                                <li>
                                    Berries
                                </li> 
                                <li>
                                    Melons
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/meats.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Meats" aria-expanded="false" aria-controls="collapseTwo">
                        Meats
                        </button>  
                    </div>
                    <div id="Meats" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="meats-list" class="">
                                <li>
                                    Lean Meats
                                </li>
                                <li>
                                    Poultry
                                </li>
                                <li>
                                    Fish And Seafood
                                </li>
                                <li>
                                    Eggs
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/seasoning.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Seasoning" aria-expanded="false" aria-controls="collapseTwo">
                        Seasoning
                        </button>  
                    </div>
                    <div id="Seasoning" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="seasoning-list" class="">
                                <li>
                                    Salt And Pepper
                                </li>
                                <li>
                                    Herbs And Spices
                                </li>
                                <li>
                                    Seasoning Blends
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card sm-2 category-card" style="max-width: 500px;">
                    <div class="row" id="headingTwo">
                        <img src="/images/others.png" class="col-sm-3"/>
                        <button class="list-button collapsed multi-collapse col-sm-5" type="button" data-toggle="collapse" data-target="#Others" aria-expanded="false" aria-controls="collapseTwo">
                        Others
                        </button>   
                    </div>
                    <div id="Others" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul id="others-list" class="list-item">
                                <li>
                                    Others
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add produts -->
        <div class="col-sm-9 input-form" style="max-width: 980px;">
            <div class="row">
                <img src="/images/food.gif" class="card-img col-sm-5" />

                <div class="form-entry card-body col-sm-6 row animate-form">
                    <select class="form-select col-sm-11">
                        <option selected disabled value="">Please select the category from list</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Grains">Grains</option>
                        <option value="Vegetables">Vegetables</option>
                        <option value="Fruits">Fruits</option>
                        <option value="Meats">Meats</option>
                        <option value="Seasoning">Seasoning</option>
                        <option value="Others">Others</option>
                    </select> 

                    <div class="col-sm-12 row add-form"> 
                        <div class="col-sm-12 row dates">
                            <p class="col-sm-5">Product Name: </p>
                            <div class="col-sm-6">
                                <input type="text" id="p-name" class="item-name"/>
                            </div> 
                        </div>

                        <div class="col-sm-12 row dates">
                            <p class="col-sm-5">Expire Date: </p>
                            <div class="col-sm-6">
                                <input type="date" id="date" class="expire-date">
                            </div> 
                        </div>
                        
                        <div class="col-sm-12 row add-items">
                            <p class="col-sm-4">Quantity: </p>
                            <div class="col-sm-6">
                                <input type="number" id="quantity" value="1" min="1" max="50" step="1" class="amount" />
                            </div>
                        </div> 
                        <div class="col-sm-12">
                            <button type="submit" class="btn" id="add-product">Add Item</button> 
                        </div>     
                    </div> 
                  
                </div>

                <div class="col-sm-11 row product-search">
                   
                </div>
                <div class="col-sm-12 row select-item">   
                   
                </div>
            </div>     
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="/javascript/home.js"></script>