{{!-- <div class="container"> 
    {{#each <posts> as |post|}}
    {{> post-info post }}
  {{/each}}
</div> --}}


     <!-- this form is homepage handler-->
        <section class="row justify-content-center category">
            <div class="col-sm-12 row justify-content-center">
                <div class="col-sm-3">
                    <div>    
                        <img src="/images/dairy-products.png"/>
                        <div>
                           <h3>Dairy Products</h3>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-3">
                    <div>    
                        <img src="/images/grains.png"/>
                        <div>
                           <h3>Grains</h3>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-3">
                    <div>    
                        <img src="/images/fruits.png" />
                        <div>
                           <h3>Fruits</h3>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-3">
                    <div>    
                        <img src="/images/vegetables.png"/>
                        <div>
                           <h3>Vegetables</h3>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-sm-12 row justify-content-center">
                <div class="col-sm-3">
                    <div>    
                        <img src="/images/meats.png"/>
                        <div>
                           <h3>Meats</h3>
                        </div> 
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div>    
                        <img src="/images/sauce-spice.png"/>
                        <div>
                           <h3>Sauce & Spice</h3>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-3">
                    <div>    
                        <img src="/images/others.png"/>
                        <div>
                           <h3>Others</h3>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

        <!-- Add produts -->
        <form class="input-form">
            <div class="row justify-content-center">
                <form class="row">
                    <input type="text" class="col-sm-9 bar" placeholder="Enter A Product's Name" />
                    <div class="col-sm-2">
                        <button type="search" class="btn"><i class='fa fa-search'></i></button> 
                    </div>
                </form>
                <div class="select-item">
                    <select class="form-select col-sm-12">
                        <option selected>Please select the item from list</option>
                        <option value="one">Apple</option>
                        <option value="two">Pear</option>
                        <option value="three">Orange</option>
                    </select>

                    <div class="col-sm-12 product-image">
                        <img src="/images/apple.png" class="products" />
                    </div>
                </div>    
            </div>
            
            <div class="row justify-content-center product-form">    
                <input type="date" name="date" placeholder="Expire Date" class="expire-date">
                <input type="number" value="0" min="0" max="50" step="1" class="amount" />
                <button type="submit" class="btn add-item">Add Item</button>
            </div>
        </form>

        