<!-- this form is login handler-->
<div class="row">
  <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row aboutus">
    {{> about-us introduction}}

    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-10 col-10 row login-form">
      <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row login">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h2>Log In</h2>
        </div>
          
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <label for="username-login" class="form-label">Username:</label>
          <input type="text" id="username-login" class="form-control" />
        </div>
          
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <label for="password-login" class="form-label">Password:</label>
          <input type="password" id="password-login" class="form-control" />
        </div>
          
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-12">
         <button type="submit" class="btn">Login</button>
        </div>
          
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
        <!-- need to input the href after the API routes complete -->
          <a href="/signUp" class="btn">Sign Up Instead</a>
        </div>
      </form> 
    </div>
  </section>

  {{> main-cards cards}}

</div>



<script src="/javascript/login.js"></script>



