:root {
    --primary: rgb(204, 234, 212);
    --gradient: linear-gradient(0deg, hsl(165deg, 86%, 37%) 0%, hsla(145, 84%, 73%, 1) 52%, hsl(165deg, 78%, 36%) 100%);
    --letter: rgba(10,138,101, 0.9);
    --shadow-one: rgba(255,246,115,0.9);
    --shadow-two:rgba(18,117,82,0.4);
    --shadow-three: rgba(18,117,82,0.2);
    --hover:  #129872;
    --font: #08694d;
    --card: linear-gradient(180deg, 
            hsla(72, 100%, 98%, 0.7) 0%, 
            hsla(63, 49%, 92%, 0.7) 50%, 
            hsla(72, 100%, 98%, 0.7) 100%);
    --background: rgba(0, 0, 0, 0); 
    --search-box: #c4c4c4;
    --box-color: #fff;
    --box-shadow: rgba(0,0,0,0.1);
    --button-color: #75e6a7cf;
    --button-image: linear-gradient(45deg, #75e6a7cf 0%, #bbefa5 52%, #79e2a8cf 90%);
    --past: #f33a31;
    --danger: #f3b631;
    --safe: #0ca74c;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--font);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(../images/background.PNG);
    font-size: 20px;
}

.row {
    margin: 0;
}

header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 20px 35px;
    line-height: 2.0;
}

header div h1 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 55px;    
    text-transform: uppercase;
    font-weight: 700;
    color: var(--letter);
    text-shadow: 1px -1px 1px var(--shadow-one),
        1px -2px 1px var(--shadow-one),
        1px -3px 1px var(--shadow-one),
        1px -4px 1px var(--shadow-one),
        1px -5px 1px var(--shadow-one),
        1px -6px 1px var(--shadow-one),
        1px -7px 1px var(--shadow-one), 
        1px -8px 1px var(--shadow-one),    
    1px -9px 6px var(--shadow-two),
    1px -11px 10px var(--shadow-three),
    1px -13px 35px var(--shadow-three),
    1px -15px 60px var(--shadow-two);
}


header nav {
    width: 100%;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
    transition: all .2s ease-out;
    color: var(--font);
    margin-right: 8vw;
}

header nav a:hover {
    background: var(--hover);
    border-radius: 15px;
    color: var(--primary);
}

footer {
    margin-top: auto;
    position: inherit;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


.login {
    margin-top: 60px;
    row-gap: 25px;
}

label {
    font-size: 24px;
}

.btn {
    background-color: var(--button-color);
    background-image: var(--button-image);
    transition: all .5s ease-out;
    background-size: 1px 120px;
    background-position: 0 -10px;
    color: var(--font);
    font-size: 20px;
}

.btn:hover {
    background-position: 1px -50px;
}

.btn:focus {
    outline: none;
}


.introduction {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.select-item {
    margin-top: 50px;
}

.form-select {
    padding: 9px;
    margin: 30px 0;
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}

.category-image {
    width: 20%;
    height: 20%;
}


.category {
    margin-left: 15px;
    margin-top: 30px;
}

.input-form {
    margin-top: 60px;
    margin-left: -30px;
}


.amount {
    padding: 5px;
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}


.date {
    padding: 0;
    display: flex;
    align-items: center;
}

.expire-date {
    margin: 0 0 0 -15px;
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px var(--box-shadow);
    width: 190px;

}

.date input {
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
    height: 49px;
}

.quantity, .quantity div {
    padding: 0;
}


.product-name {
    margin: 0;
}

.update {
    display: flex;
}


.update button {
    font-size: 16px;
    margin: 0 5px;
}


.options {
    row-gap: 14px;
    display: flex;
    margin: 40px 0;
}

.options h4 {
    margin: 10px;
    transition: all .2s ease-out;
    text-align: center;
}

.options h4:hover {
    color: rgb(15, 114, 153);
}

.inventory {
    gap: 40px;
    margin: 50px 10px;
}

.history {
    margin-top: 30px;
    max-width: 15%; 
}


.search-bar {
    margin: auto;
    width: 80%;

}

.bar{
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}


.list {
    padding: 0;
    margin-top: 20px;
    display: grid;
    gap: 6px;
}

.list li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    transition: all .2s ease-out;
}

.list li:hover {
    background: var(--hover);
    border-radius: 10px;
    color: var(--primary);
    padding: 3px;
}

.card-body {
    padding: 0;
    row-gap: 10px;
}

.card-title {
    margin: auto 8px;
    text-align: start;
    transition: all .2s ease-out;
}

.card-title:hover {
    background: var(--hover);
    border-radius: 10px;
    color: var(--primary);
    padding: 5px;
}

.dates, .add-items {
    margin: auto;
}


.dates p, .add-items p {
    text-align: left;
    margin-left: 20px;
}

.dates div {
    text-align: start;
}

.add-items div {
    text-align: start;
    padding: 0;
}

.add-form {
    row-gap: 40px;
}

.add-form button {
    margin: 10px 30px;
}

.product-search {
    row-gap: 30px;
}

.category-card {
    margin: 5px auto;
}


.product-image{
    padding: 0;
    padding-left: 5px;
}


.product-card{
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-selection {
    row-gap: 20px;
}

.storage {
    padding: 0;
    margin: auto;
}


.product-name span {
    margin: 0 10px;
}

#past {
    color: var(--past);
}

#danger {
    color: var(--danger);
}

#safe {
    color: var(--safe);
}

.card {
    background-color: var(--background);
    border: none;
}

.items {
    background-image: var(--card);
    border-radius: 45px;
}

ul {
    list-style: none;
}

ul > li {
    margin: 5px 0;
}

ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(21, 121, 244, 0.48);
}