:root {
    --hover:  #eaeaea;
    --text-hover: #cf8517;
    --font: #701fa0;
    --background: rgba(0, 0, 0, 0); 
    --search-box: #c4c4c4;
    --box-color: #fff;
    --box-shadow: rgba(0,0,0,0.1);
    --button-color: #b84ecf;
    --button-image: linear-gradient(45deg, #b74cd1 0%, #eab15c 52%, #b74cd1 90%);
    --past: #f33a31;
    --danger: #f3b631;
    --safe: #0ca74c;
    --body: linear-gradient(45deg, #eeeeeb 9%, #ecece9e6 60%, #eaeae7e6  88%);
    --header: linear-gradient(45deg, #740c9a 9%, #951cc3 60%, #790fa2  88%);
    --goal: #eeeeeb;
    --goal-card: #6d1b8c;
    --list-border: #ec6ac5;
    --list-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
    --list-span-image: linear-gradient(0deg, #e3dae7 0%, #FEFAFD 100%);
    --list-span: hsla(290, 100%, 20%, 1);
    --list-before: #fff;
    --list-before-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    color: var(--font);
    font-family: Helvetica, Arial, sans-serif;
    background-image: var(--body);
    font-size: 20px;
}

.row {
    margin: 0;
}

header {
    background-image: var(--header);
    background-size: cover;
    background-position: bottom;
    padding: 20px 35px;
    line-height: 2.0;
}

header div h1 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 55px;    
    text-transform: uppercase;
    font-weight: 700;
    color: var(--hover);

}


header nav {
    width: 100%;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
    transition: all .2s ease-out;
    color: var(--hover);
    margin: 0 5vw;
}

header nav a:hover {
    background: var(--hover);
    border-radius: 15px;
    color: var(--font);
}

footer {
    position: absolute;
    text-align: center;
    width: 100%; 
}


.login {
    margin-top: 60px;
    row-gap: 25px;
}

label {
    font-size: 24px;
}

.btn {
    background-color: var(--button-color);
    background-image: var(--button-image);
    transition: all .5s ease-out;
    background-size: 1px 120px;
    background-position: 0 -10px;
    color: var(--hover);
    font-size: 20px;
}

.btn:hover {
    background-position: 1px -50px;
    color: var(--hover);
}

.btn:focus {
    outline: none;
}


.introduction {
    display: flex;
    justify-content: center;
    margin: 70px 10px 0 10px;
    flex-wrap: wrap;
    text-align: center;
}


.select-item {
    margin-top: 50px;
}

.form-select {
    padding: 10px;
    margin: auto auto 25px auto;
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}


.category {
    margin-left: 15px;
    margin-top: 30px;
}

.input-form {
    margin: 60px auto auto 35px;
    padding: 0;
}


.amount {
    padding: 5px;
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}


.date {
    padding: 0;
    display: flex;
    align-items: center;
}

.date p {
    padding: 0;
}

.expire-date {   
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px var(--box-shadow);
    width: 190px;

}

.date input {
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
    height: 49px;
}

.quantity, .quantity div, .quantity p, .card-body, .card-img, .product-name {
    padding: 0;
}


.update {
    display: flex;
    padding: 0;
}


.update button {
    font-size: 16px;
    margin: 2px 5px 0 0;
}


.options {
    row-gap: 14px;
    display: flex;
    margin: 40px auto;
}

.options h4 {
    margin: 10px;
    transition: all .2s ease-out;
    text-align: center;
}

.options h4:hover {
    color: var(--text-hover);
}

.sort-item {
    color: var(--font);
}

.sort-item:hover {
    color: var(--text-hover);
    text-decoration: none;
}

.inventory {
    gap: 45px;
    margin: 50px 10px;
}

.history {
    margin-top: 30px;
    max-width: 15%; 
}


.search-bar {
    margin: auto;
    width: 85%;
}

.bar, .item-name {
    border: 1px solid var(--search-box);
    border-radius: 5px;
    background-color: var(--box-color);
    box-shadow: inset 0 3px 6px var(--box-shadow);
}


.list {
    padding: 0;
    margin-top: 20px;
    display: grid;
    gap: 6px;
}

.list li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    transition: all .2s ease-out;
}

.list li:hover {
    background: var(--font);
    border-radius: 10px;
    color: var(--hover);
    text-decoration: none;
}



.dates, .add-items, .add-form {
    margin: auto auto 20px auto;
    row-gap: 40px;
    padding: 0;
}

.dates p, .add-items p {
    text-align: left;
    margin-left: 20px;
    padding: 0;
    font-size: 24px;
}

.dates div {
    text-align: start;
}

.add-items div {
    text-align: start;
    padding: 0;
}


.add-form button {
    margin: 10px 30px;
}


.product-search {
    row-gap: 30px;
}

.category-card {
    margin: auto;
    padding: 0;
}


.product-image{
    padding: 28px 0;
}


.product-card{
    display: flex;
    flex: 1 1 auto;

}

.item-card {
    background-color: var(--hover);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item-info {
    margin: 5px 0;
    line-height: 15px;
}

.item-selection {
    row-gap: 20px;
}

.storage {
    padding: 0;
    margin: auto;
}


.product-name span {
    margin: 0 10px;
}

.past {
    color: var(--past);
}

.danger {
    color: var(--danger);
}

.safe {
    color: var(--safe);
}

.card {
    background-color: var(--background);
    border: none;
}

.items {
    background-image: var(--background);
    border-radius: 45px;
}



ul {
    list-style: none;
}

ul > li {
    text-align: start;
    transition: all .2s ease-out;
}

ul > li:hover {
    color: var(--text-hover);
    text-decoration: underline;
    cursor: pointer;
}


.list-button {
    background-color: var(--font);
    color: var(--hover);
    border-radius: 30px;
    transition: all .2s ease-out;
}

.list-button {
	position: relative;
	border-radius: 3.75rem;
	font-weight: 600;
	border: 1px solid var(--list-border);
	background-image: var(--list-image);
    height: 60px;
}

.list-button span {
    color: transparent;
	background-image: var(--list-span-image);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px var(--list-span));
}

.list-button:before {
    content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: var(--list-before);
	border-radius: 100%;
	opacity: 0.7;
	background-image: var(--list-before-image);
}

.list-button:focus {
    outline: none;
}


.goals, .aboutus {
    display: flex;
    justify-content: center;
    margin: 45px 0;
}


.goals-card {
    background-color: var(--goal-card);
    margin: 0 25px;
    color: var(--goal);  
    padding: 0;
}

.card-title {
    padding: 10px 15px 0 15px;
    text-align: center;
}

.card-text {
    padding: 0 15px 7px 15px;
    text-align: center;
}


.category-section {
    display: flex;
    align-items: center;
}


.card-icon {
    width: 70%;
    margin: 5px 0;
}



/* media query for screen = < 1400px */
@media screen and (max-width: 1400px) {
    .list-button {
        height: 50px;
        margin: 5px 0;
    }
}


/* media query for screen = < 1220px */
@media screen and (max-width: 1220px) {
    .list-button span {
        font-size: 18px;
    }

    .dates p, .add-items p {
        font-size: 22px;
    }

    .list-button:before {
        width: calc(100% - 6.5rem);
    }
}


/* media query for screen = < 1180px */
@media screen and (max-width: 1180px) {
    .list-button span {
        font-size: 16px;
    }

    .list-button:before {
        width: calc(100% - 5.5rem);
    }

    .dates p, .add-items p {
        font-size: 20px;
    }

    .form-select, .history button, .list li {
        font-size: 18px;
    }
 

}

/* media query for screen = < 992px */
@media screen and (max-width: 991px) {
    .history {
        max-width: 100%;
    }

    .list {
        display: flex;
        margin-top: 10px;
        gap: 0;
        column-gap: 20px;
    }


    ul > li {
        font-size: 17px;
    } 

    .options h4 {
        font-size: 21px;
    }

    .introduction p {
        font-size: 18px;
    }

    .introduction h2 {
        font-size: 32px;
    }

    .login label {
        font-size: 20px;
    }

    .login button, .login a {
        font-size: 18px;
    }

    .bar {
       font-size: 18px;  
    }

    .items {
        margin: auto;
    }

}


/* media query for screen = < 830px */
@media screen and (max-width: 830px) {
    .list-button span {
        font-size: 15px;
    }

    .list-button:before {
        width: calc(100% - 4.5rem);
    }

    .list-button {
        height: 40px;
    }

    ul > li {
        font-size: 16px;
    } 

    header nav a {
        margin: auto;
        font-size: 28px;
    }

    header div h1 {
        font-size: 52px;
    }

    .showall {
        font-size: 19px;
    }

    .options h4 {
        font-size: 19px;
    }
}

/* media query for screen = < 760px */
@media screen and (max-width: 767px) {
    .list-button span {
        font-size: 16px;
    }

    .list-button {
        height: 45px;
    }

    header nav a {
        font-size: 26px;
    }

    .category-section img, .card-img {
        display: none;
    }

    .input-form {
        margin: 20px auto auto auto;
    }

    .add-form {
        display: flex;
        justify-content: center;
    }

    header div h1 {
        font-size: 45px;
    }

    ul > li {   
        font-size: 13px;
    }

    .product-image {
        display: none;
    }

    .items{
        margin: 5px auto;
    }

    .inventory {
        gap: 0;
    }

    .options h4 {
        font-size: 17px;
    }

    .introduction {
        margin: auto;
    }

    .introduction h2 {
        font-size: 30px;
    }

    .login h2 {
        font-size: 30px;
        text-align: center;
    }

    .item-card {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin: auto;
    }

    .showall button, .search-bar button {
        font-size: 18px;
    }

    .bar {
        font-size: 16px;
    }

    .item-info {
        font-size: 18px;
    }

    .item-info h4 {
        font-size: 21px;
    }

}


/* media query for screen = < 575px */
@media screen and (max-width: 575px) {
    .list-button span {
        font-size: 14px;
        
    }

    .list-button:before {
        width: calc(100% - 3.5rem);
    }

    header div h1 {
        font-size: 30px;
    }

    header nav a {
        font-size: 18px;
    }

    .dates p, .add-items p, .form-select, .expire-date, .item-name, .amount {
        font-size: 15px;
    }

    .add-form button, footer {
        font-size: 18px;
    }

    ul > li {   
        font-size: 11px;
    }

    .login h2, .introduction h2 {
        font-size: 28px;
    }

    .goals-card h4 {
        font-size: 20px;
    }

    .goals-card p {
        font-size: 18px;
    }

    .search-bar {
        width: 95%;
    }

    .bar {
        font-size: 14px;
    }

    .item-info {
        font-size: 16px;
    }

    .item-info h4 {
        font-size: 19px;
    }

    .options {
        row-gap: 0;
        margin: 20px auto;
    }

    .options h4 {
        font-size: 14px;
    }

    .list li, .history button {
        font-size: 15px;
    }

    .showall button, .update button, .history button {
        font-size: 14px;
    }

    .search {
        padding: 0;
        font-size: 14px;
    }

}


/* media query for screen = < 392px */
@media screen and (max-width: 392px) {
    .dates p, .add-items p, .form-select, .expire-date, .item-name, .amount {
        font-size: 12px;
    }

    .list-button span {
        font-size: 11px;
    }

    header div h1 {
        font-size: 25px;
    }

    header nav a {
        font-size: 13px;
    }

    .add-form button, footer {
        font-size: 16px;
    }

    .login h2, .introduction h2 {
        font-size: 26px;
    }

    .goals-card h4, .login label {
        font-size: 18px;
    }

    .goals-card p, .introduction p, .login button, .login a  {
        font-size: 16px;
    }

    .item-info {
        font-size: 14px;
    }

    .item-info h4 {
        font-size: 16px;
    }

    .showall button, .update button, .history button, .search {
        font-size: 12px;
    }
}