:root {
    --primary: #dcead1;
    --secondary: rgba(93, 171, 155, 0.8);
    --gradient: linear-gradient(90deg, hsla(64, 41%, 92%, 0.7) 0%, 
                                       hsla(180, 39%, 88%, 0.7) 23%, 
                                       hsla(196, 83%, 84%, 0.7) 43%, 
                                       hsla(194, 71%, 85%, 0.7) 61%, 
                                       hsla(292, 63%, 84%, 0.3) 82%, 
                                       hsla(305, 75%, 83%, 0.3) 100%);
    --hover:  rgb(125, 119, 161);
    --font: #4f497d;
    --border: rgba(128, 241, 215, 0.9);
    --comment: rgba(240, 243, 237, 0.8);
    --link: rgba(42,132,68,0.9);
    --background: rgba(0, 0, 0, 0); 
    --button-color: #ef95f3;
    --button-image: linear-gradient(45deg, #ef95f3 0%, #4bcff3 52%, #87f1b6cf 90%);
    --past: #f33a31;
    --danger: #f3b631;
    --safe: #0ca74c;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--font);
    font-family: Helvetica, Arial, sans-serif;
    background-image: var(--gradient);
    background-attachment: fixed;
    font-size: 20px;
}

.row {
    margin: 0;
}

header {
    background-image: url(../images/background.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 35px;
    line-height: 2.0;
}

header div h1 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}


header nav {
    width: 100%;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
    transition: all .2s ease-out;
    color: var(--font);
    margin-right: 8vw;
}

header nav a:hover {
    background: var(--hover);
    border-radius: 15px;
    text-shadow: none;
    color: var(--primary);
}

footer {
    margin-top: auto;
    position: inherit;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


.login {
    margin-top: 60px;
    row-gap: 25px;
}

label {
    font-size: 24px;
}

.btn {
    background-color: var(--button-color);
    background-image: var(--button-image);
    transition: all .5s ease-out;
    background-size: 1px 120px;
    background-position: 0 -10px;
    color: var(--font);
    font-size: 20px;
}

.btn:hover {
    background-position: 1px -50px;
}

.btn:focus {
    outline: none;
}


.introduction {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.select-item {
    margin-top: 50px;
}

.form-select {
    padding: 9px;
    margin: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}

.category-image {
    width: 20%;
    height: 20%;
}


.category {
    text-align: center;
    margin-top: 30px;
}

.input-form {
    margin-top: 70px;
}


.amount {
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}


.date {
    padding: 0;
    display: flex;
    align-items: center;
}

.expire-date {
    margin: 0 0 0 -15px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;

}

.date input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    height: 49px;
}

.quantity, .quantity div {
    padding: 0;
}


.product-name {
    margin: 0;
}

.update {
    display: flex;
}


.update button {
    font-size: 16px;
    margin: 0 5px;
}


.options {
    row-gap: 14px;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.options h4 {
    margin: 10px;
}

.inventory {
    gap: 40px;
    margin: 50px 10px;
}

.history {
    margin-top: 30px;
    max-width: 15%; 
}


.search-bar {
    margin: auto;
    width: 80%;

}

.bar{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}


.list {
    padding: 0;
    margin-top: 20px;
    display: grid;
    gap: 6px;
}

.card-body {
    padding: 0;
    row-gap: 10px;
}

.card-title {
    margin: auto 8px;
    text-align: start;
}

.dates, .add-items {
    margin: auto;
}


.dates p, .add-items p {
    text-align: end;
}

.dates div, .add-items div {
    text-align: start;
}

.add-from {
    row-gap: 40px;
}

.product-search {
    row-gap: 30px;
}

.category-card {
    margin: 5px auto;
}


.product-image{
    padding: 0;
    padding-left: 5px;
}


.product-card{
    display: flex;
    align-items: center;
}

.item-selection {
    row-gap: 20px;
}

.storage {
    padding: 0;
    margin: auto;
}


.product-name span {
    margin: 0 10px;
}

#past {
    color: var(--past);
}

#danger {
    color: var(--danger);
}

#safe {
    color: var(--safe);
}

.card {
    background-color: var(--background);
    border: none;
}